<div class="form-group">
  <%= f.input :name, label: false, input_html: { class: "form-control", placeholder: "Nombre de terreno" } %>
</div>
<div class="form-group">
  <%= f.input :address, label: false, input_html: { class: "form-control", placeholder: "Dirección de terreno" } %>
</div>
<div class="form-group">
  <%= f.input :photo, label: "Seleccione una foto", input_html: { class: "form-control"} %>
</div>

<div class="form-group">
  <%= select_tag "farm[user_id]", options_from_collection_for_select(User.all, "id", "email"), class: "form-control" %>
</div>



<div class="form-group">
  <%= f.input :polygon, as: :hidden %>
</div>



<div id="map" style="height: 400px;"></div>
<a class="btn btn-primary export">Exportar</a>
<br>
<br>

<script type="text/javascript">
  $(document).ready(function(){

    polygonValue = []

    map = new L.Map('map', { drawControl: true }).setView([13.7013266, -89.2244339],15);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // FeatureGroup is to store editable layers
     var drawnItems = new L.FeatureGroup();
     map.addLayer(drawnItems);
     var drawControl = new L.Control.Draw({
         edit: {
             featureGroup: drawnItems
         }
     });
     map.addControl(drawControl);

    var shapeOptions = {
          color: '#0066FF',
          fillColor: '#0066FF',
          // clickable: false
          weight: 10
    };

    var opt = {
        position: 'topright',
        draw: {
            polygon: {
                allowIntersection: false,
                drawError: {
                    color: '#FF0000',
                    message: ''
                },
                repeatMode: false,
                shapeOptions: shapeOptions
            }
        },
        edit: {
            featureGroup: drawnItems, //REQUIRED!!
            remove: false
        }
    };

    var editing = false;
    map.on('click', function(e) {
      lat = e.latlng.lat;
      long = e.latlng.lng;
      polygonValue.push([lat,long]);

      if(!editing){ // do not start multiple "edit sessions"
        editing = true;
        var polyEdit = new L.Draw.Polygon(map);
        polyEdit.enable();
        polyEdit.addVertex(e.latlng);
      }
    });

    map.on('draw:created', function (e) {
      console.log(polygonValue);
      $("#farm_polygon").val(polygonValue).text(polygonValue);
      editing = false;
      var type = e.layerType,
          layer = e.layer;
      drawnItems.addLayer(layer);
      console.log(drawnItems);
    });

    $(".export").on("click", function(e){
      kmlFileName = $("#farm_name").val();
      data = drawnItems.toGeoJSON();
      var kml = tokml(data);
      var convertedData = 'application/xml;charset=utf-8,' + encodeURIComponent(kml);
      $(this).attr('href', 'data:' + convertedData); 
      $(this).attr('download', '<%= @farm.name + Date.today.strftime("-%m-%d-%Y")%>.kml');
      //console.log("<%= @farm.name + Date.today.strftime("-%m-%d-%Y")%> + .kml")

      //var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));
      //var kml = tokml(convertedData);
      //console.log(encodeURIComponent(JSON.stringify(data)));
      //$(this).attr('href', 'data:' + kml);
      //$(this).attr('download', "mapa.kml");
    });

    
    
  });
</script>