<section class="content-header">
  <h1>
    Terrenos
  </h1>
</section>
<br><br>
<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header">
        <%= link_to "<i class='fa fa-plus'></i> Nuevo Terreno".html_safe,new_farm_path, class: "btn btn-success" %>
        <%= link_to "<i class='fa fa-back'></i> Ir a dashboard".html_safe, dashboard_index_path, class: "btn btn-info" %>
      </div>
      <hr>
      <div class="box-body">
        <% if @farms.size > 0 %>
        <div class="table-responsive">
          <table class="table table-hover" id="datatable">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @farms.each do |farm| %>
              <tr>
                <td><%=farm.name%></td>
                <td><%=farm.address%></td>
                <td>
                  <div class="btn-group">
                    <%= link_to "<i class='fa fa-eye'></i>".html_safe, farm.photo.url, target: "_blank", class: "btn btn-info", title: "Ver archivo" %>
                    <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_farm_path(farm), class: "btn btn-warning", title: "Editar" %>
                    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_map_path, class: "btn btn-success", title: "Subir archivo mapa" %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% else %>
        <div class="callout callout-warning">
          <h4>Opps!</h4>
          <p>No se ha añadido ningún registro.</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#datatable").DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>