<section class="content-header">
  <h1>
    Terrenos<br>
    <small>Crear terreno nuevo</small>
  </h1>
</section>
<br><br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-success">
      <%= simple_form_for @farm, url: farms_path, method: :post do |f| %>
        <div class="box-body">
          <%= render partial: "form", locals: { f: f } %>
        </div>
        <div class="box-footer text-center">
          <%= link_to "Cancelar".html_safe, farms_path, class: "btn bg-navy"%>
          <%= f.submit "Crear", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>