<div class="row align-middle">
    <!-- 7 -->
    <div class="column large-12">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Usuarios Registrados</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <canvas id="box_1" width="400" height="260"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Fincas registradas</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <canvas id="box_2" width="400" height="260"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var ctx = $('#box_1');

        labels = ["Activos", "Inactivos"] 
        data = [<%= User.count %>, 0]

        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              label: 'Usuarios',
              data: data,
              backgroundColor: [
                '#6F42DD',
                '#FC6C6E',,
              ]
            }]
          },
          options: {
            legend: false,
            responsive: true,
            title: {
              display: false
            },
            scales: {
              xAxes: [{
                display: false
              }],
              yAxes: [{
                display: false,
              }]
            }
          }
        });
      </script>
      <script>
        var ctx = $('#box_2');
        labels = ["Activos", "No activos"]
        data = [<%= Farm.count %>,0]
        //VALIDAR FECHAS
        
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'Terrenos',
              data: data,
              backgroundColor: '#fd9028',
              borderColor: '#28a5fd',
              pointBackgroundColor: '#28a5fd',
              borderWidth: 1
            }]
          },
          options: {
            legend: false,
            responsive: true,
            title: {
              display: false
            },
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Meses'
                }
              }],
              yAxes: [{
                stacked: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Terrenos'
                }
              }]
            }
          }
        });
      </script>
    </div>