<div class="form-group">
  <%= f.input :name, label: false, input_html: { class: "form-control", placeholder: "Nombre del mapa" } %>
</div>

<div class="form-group">
  <%= f.input :description, label: false, input_html: { class: "form-control", placeholder: "Agregra la información del archivo kml" } %>
</div>

<div class="form-group">
  <%= f.input :farm_id, collection: Farm.all.map{|x| [x.name, x.id]}, label: "Selecciona a que terreno pertenece", input_html: { class: "form-control"} %>
</div>

<div class="form-group">
  <%= f.input :file, label: false, input_html: { class: "form-control"} %>
</div>