<section class="content-header">
  <h1>
    Mapas<br>
    <small>Editar mapa: <b><%= @map.name %></b></small>
  </h1>
</section>
<br><br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-success">
      <%= simple_form_for @map, url: map_path do |f| %>
        <div class="box-body">
          <%= render partial: "form", locals: { f: f } %>
        </div>
        <div class="box-footer text-center">
          <%= link_to "Cancelar".html_safe, maps_path, class: "btn bg-navy"%>
          <%= f.submit "Actualizar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>