
<section class="content-header">
  <h1>
    Mapas<br>
    <small>Ver mapa</small>
  </h1>
</section>
<br><br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-success">
      <div style="width: 400px; height: 400px" id="map-kml"></div>
      <script type="text/javascript">
            // Make basemap
            const map = new L.Map('map-kml', { center: new L.LatLng(58.4, 43.0), zoom: 11 });
            const osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

            map.addLayer(osm);

            // Load kml file
            fetch('<%= "http://localhost:3000#{@map.file.url}" %>')
                .then(res => res.text())
                .then(kmltext => {
                    // Create new kml overlay
                    const parser = new DOMParser();
                    const kml = parser.parseFromString(kmltext, 'text/xml');
                    const track = new L.KML(kml);
                    map.addLayer(track);

                    // Adjust map to show the kml
                    const bounds = track.getBounds();
                    map.fitBounds(bounds);
                });
                console.log('<%= "http://localhost:3000#{@map.file.url}" %>')
        </script>
    </div>
  </div>
</div>