
<h1>Datos de logueo</h1>
<hr>

<div class="form-group">
  <%= f.input :email, label: false, input_html: { class: "form-control", placeholder: "Escribe tu correo" } %>
</div>

<div class="form-group">
  <%= f.input :password, label: false, input_html: { class: "form-control", placeholder: "Escribe tu password" } %>
</div>

<div class="form-group">
  <%= f.input :password_confirmation, label: false, input_html: { class: "form-control", placeholder: "Confirma tu password" } %>
</div>

<div class="form-group">
  <%= f.input :role_id, collection: Role.all.map{|role| [role.name, role.id]}, label: false, prompt: "--Selecciona un rol--" %>
</div>


<h1>Datos personales</h1>
<hr>

<%= f.fields_for :user_detail do |ff| %>

  <div class="form-group">
    <%= ff.input :name, label: false, input_html: { class: "form-control", placeholder: "Nombre de usuario" } %>
  </div>

  <div class="form-group">
    <%= ff.input :last_name, label: false, input_html: { class: "form-control", placeholder: "Apellidos de usuario" } %>
  </div>

  <div class="form-group">
    <%= ff.input :address, label: false, input_html: { class: "form-control", placeholder: "Dirección" } %>
  </div>

  <div class="form-group">
    <%= ff.input :phone_number, label: false, input_html: { class: "form-control", placeholder: "Teléfono de contacto" } %>
  </div>

  <div class="form-group">
    <%= ff.input :customer_number, label: false, input_html: { class: "form-control", placeholder: "Número de cliente en banco" } %>
  </div>

  <div class="form-group">
    <%= ff.input :dui, label: false, input_html: { class: "form-control", placeholder: "DUI" } %>
  </div>

  <div class="form-group">
    <%= ff.input :nit, label: false, input_html: { class: "form-control", placeholder: "NIT" } %>
  </div>

  <div class="form-group">
    <%= ff.input :description, label: false, input_html: { class: "form-control", placeholder: "Información adicional" } %>
  </div>

<%end%>