<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 box">
      <%= image_tag "logo-bh.png", style: "background-color:#091a54;margin: 0 auto; display:block"%>
      <h2>Inicia sesión</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "form-control" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "form-control" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>